
<head>
    <style>
        table {
            border-collapse: collapse;
            width: 60%;
            margin: 20px auto;
        }
        th, td {
            border: 1px solid #ccc;
            padding: 10px;
            text-align: center;
        }
        th {
            background-color: #f2f2f2;
        }
        tr:hover {
            background-color: #ddd;
        }
    </style>
</head>
<div>
    <h1 class="text-white">Leaderboard</h1>
    <table [ngStyle]="{'border-color':userColor}" class="border-[6px]">
        <thead>
            <tr>
                <th>Rank</th>
                <th>Color</th>
                <th>Users</th>
            </tr>
        </thead>
        <tbody>
            <!-- Replace the sample data with your actual leaderboard data -->
            <tr *ngFor="let colorGroup of orderedColorGroup; let i = index;" class="[&>*:nth-child(even)]:bg-[#f2f2f2] bg-[#f2f2f2]">
                <td>{{i + 1}}</td>
                <td [ngStyle]="{'color': colorGroup.color.color}">{{colorGroup.color.name}}</td>
                <td>{{colorGroup.users.length}}</td>
            </tr>
        </tbody>
    </table>
</div>