<div class="">
    <div >
        <div class="text-center">
            <h1 class="text-3xl font-bold">
                Welcome to Color Wars!
            </h1>
            <div class="flex flex-row justify-center">
            <div *ngFor="let color of colors" [appHover]="color.color" (click)="selectColor({name: color.name,color:color.color})" onkeydown="selectColor({name: color.name,color:color.color})" class="w-32 h-32 p-5 m-2 flex flex-row justify-center items-center bg-slate-400 cursor-pointer">
                <div>{{color.name}}</div>
            </div>
            </div>
            <span class="text-sm">Choose the color of the group you would like to join.</span>
        </div>
    </div>
</div>